* {
  font-family: "Helvetica Neue";
}

body {
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.header {
  padding: 0px 96px 0px 96px;
  display: flex;
  justify-content: space-between;
}

.header-links {
  margin: auto 0px;
  display: flex;
  gap: 24px;
}

button {
  background-color: #3882f6;
  color: white;
  width: 96px;
  height: 32px;
  border-radius: 8px;
  border: 0px;
  font-weight: bolder;
  font-size: 14px;
}

h1,
h3 {
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

.page-top {
  background-color: rgb(33, 41, 54);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  list-style: none;
}

.hero-text {
  padding: 96px;
  display: flex;
  justify-content: space-between;
}

.img-placeholder {
  text-align: center;
  padding-top: 92px;
  height: 130px;
  width: 420px;
  background-color: rgb(110, 116, 124);
  margin: 0px;
  margin-left: 32px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-cards {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  height: 96px;
  width: 96px;
  margin: 0px 32px 8px;
  border-style: solid;
  border-color: #3882f6;
  border-width: 4px;
  border-radius: 12px;
}

.card-subtext {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-text {
  width: 96px;
  margin: 0px 32px 32px;
  text-align: center;
  font-size: small;
}

.quote-box {
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 231, 235);
  padding: 32px;
}

.quote-text {
  font-style: italic;
  font-size: larger;
  font-weight: 1;
  text-align: left;
  padding: 0 15vw;
}

.attribution {
  text-align: left;
  padding-left: 45vw;
}

.sign-up-box {
  flex-basis: 1;
  display: flex;
  justify-content: space-around;
  align-self: center;
  background-color: #3882f6;
  width: 85vw;
  color: white;
  border-radius: 10px;
  padding: 12px 0;
  margin: 32px;
}

.action-call {
  padding: 8px;
}

.action-subtext {
  padding: 8px;
  font-size: smaller;
}

.sign-up-box-right {
  align-self: center;
}

.bottom-button {
  border-width: 2px;
  border-style: solid;
}

.footer {
  text-align: center;
  padding: 8px;
}
